@font-face {
    font-family: 'Gothan';
    src: url(fonts/GothamBold.ttf) format('truetype');
}
body{
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f8f8f8;
}
html{
    scroll-behavior: smooth;
}



.image_logo{
 width: 45px;
}
.header, .navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 4px black;
    height: 56px;
    justify-content: space-between;
    padding: 0 10%;
}
.navigation_header{
    gap: 3em;
    margin-right: 200px;
    z-index: 4;
}
.navigation_header a{
   text-decoration: none;
   color: black;
   font-family: 'Nunito', sans-serif;
   font-weight: bold;
}
.navigation_header a:hover{
    border-bottom: 4px solid;
    border-color: black;
    transition: 0.2s;
}

.icon_header{
  background-color: transparent;
  border: none;
  color: #000000;
  cursor: pointer;
  border: none;
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.back-to-top img{
width: 60px;

}
.acessars{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 20px 0; 

}
.projetos-link{
    margin-left: 4px;
    margin-top: 10px;
}
.choling-2{
    font-size: 15px;

}
#yt{
    background-color: #d10000;
}

.choling-3{
    margin-left: 10px;
}
@media screen and (max-width: 768px) {
    .icon_header{
        display: block;
    }
    .navigation_header{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: #fff;
        height: 300px;
        width: 35vw;
        border-radius: 5%;
        padding: 16px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    @keyframes sidebar{
        from{
            margin-left: -100vw;
        } to {
            margin-left: -10vw;
        }
    }
    @keyframes hidesidebar{
        from{
            margin-left: -10vw;
        } to {
            margin-left: -100vw;
        }
    }
    .image_logo{
        margin-right: 100px;
       }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    margin-top:57px; 
}
.first-part{
    width: 100%;
    background: linear-gradient(to bottom, #161e2b 0%,  rgb(32, 45, 88) 90%, #fff 100%);
    color: #fff;
    font-family: 'Gothan';
  
}
.detalhes{
    font-family: 'Nunito', sans-serif;
    font-family: 800;
    padding: 0 5px 0;
   }

   

   @keyframes typing{
    from{
        width: 0;
    }

   }

   @keyframes bliking{
    50%{
        border-color: transparent;
    }
   }
   
   .profile-picture{
        width: 20%;
        min-width: 250px;
        max-width: 350px;
        border-radius: 50%;  
        margin-top: 40px;
   }

   ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding-inline-start: 0px;
}

    li{
    align-items: center;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    height: 6rem;
    justify-content: center;
    width: 6rem;
    }
    li:hover{
        box-shadow: 0 0 10px rgb(34, 122, 223);
    }
   
    .imagens2{
        height: 3rem;
        width: 3rem;
    }
    .hard-skills{
        justify-content: center;
        align-items: center;
    }
    .hard-skills h1{
     color: #227adf;
    font-size: 2.4rem;
     }
     #js{
        border-radius: 20%;
     }

     .projetos{
        margin-top: 150px;
     }
     .container-projetos{
        width: 100%;
       }
       .projeto-um{
        width: 90%;
        min-width: 300px;
        max-width: 600px;
       }
       .projeto-dois{
        width: 50%;
        max-width: 250px;
        filter: drop-shadow(5px 6px 12px rgba(0, 0, 0, 0.308));
       }
       .container-projetos p, .about-me p{
       color: #161e2b;
       font-family: 'Nunito', sans-serif;
       font-weight: 500;
       text-align: justify;
       text-align-last: center;
        text-justify: inter-word;
       padding: 0 4rem;
       margin-bottom: 30px;
       }
       .container-projetos h2{
        margin-top: 80px;
        color: black;
       }
       .projetos-link{
        padding: 10px 20px;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;
        background-color: black;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.432);
        border-radius: 5px;
        color: #f8f8f8;
        cursor: pointer;
        text-decoration: none;
       }

       .about-me h1{
        color: #227ADF;
       }
       .about-me{
        margin-top: 150px;
        margin-bottom: 100px;
       }
       
       footer{
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom, #161e2b 0%,  rgb(32, 45, 88) 100%);
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.692);
       }
       .container-footer{
        display: flex;
       }
       .madeyby{
        margin-top: 50px;
        padding-left: 3rem;
        white-space: nowrap;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
       }
       
       .final{
        width: 50px;
       }
       .imagens-footer{
        position: absolute;
        margin-top: 40px;
        padding-left: 1rem;
        right:20px;
       }
      

       @media (max-width: 405px){
        .imagens-footer{
            position: relative;
            margin-top: 40px;
            padding-left: 1rem;
            right:  20px;
           }
           footer{
            height: 320px;
           }
       }

       
@media (min-width:200px) and (max-width: 767px){
    .image_logo{
        margin-right: 60px;
       }
  
    .stack{
        margin-top: 10px;
        padding: 0 20px 0;
        font-size: 2.4rem;
        
    }
   .first-part{
    height: 600px;
   }
   .container-imagens{
    margin-top: 40px;
   }
   .imagens{
    width: 50px;
   }
   #git{
    margin-right: 5px;
   }
   .hard-skills{
    margin-top: 200px;
   }
   .projetos{
    color: #227adf;
    font-size: 2.4rem;
   }
   
 
}
@media (min-width:525px) and (max-width: 767px){
    .image_logo{
        margin-right: 100px;
    }
    .imagens-footer{
        position: absolute;
        margin-top: 40px;
        padding-left: 1rem;
        right: 60px;
       }
}


@media (min-width:768px) and (max-width: 1262px){
    .stack{
        margin-top: 10px;
        padding: 0 20px 0;
        font-size: 2.4rem;
        
    }
   .first-part{
    height: 600px;
   }
   .container-imagens{
    margin-top: 40px;
   }
   .imagens{
    width: 50px;
   }
   #git{
    margin-right: 5px;
   }
   .hard-skills{
    margin-top: 200px;
   }
   .projetos{
    color: #227adf;
    font-size: 2.4rem;
   }
   .imagens-footer{
    position: absolute;
    margin-top: 40px;
    padding-left: 1rem;
    right: 60px;
   }
   
    .container-projetos p{
        padding: 0 9rem;
    }
    .imagens-footer{
        position: absolute;
        margin-top: 40px;
        padding-left: 1rem;
        right: 60px;
       }
}
@media (min-width: 1263px){
    .container-imagens{
        margin-right: 700px;
    }
    .stack{
        margin-top: -210px;
        margin-right: 700px;
        padding: 0 20px 0;
        font-size: 6rem;   
    }
   .first-part{
    height: 800px;
   }
   .container-imagens{
    margin-top: 40px;
   }
   .imagens{
    width: 50px;
   }
   #git{
    margin-right: 5px;
   }
   .hard-skills{
    margin-top: 200px;
   }
   .projetos{
    color: #227adf;
    font-size: 2.4rem;
   }
   
    .container-projetos p{
        padding: 0 9rem;
    }
   
   
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;   
        margin-top:57px; 
    }
    .profile-picture{
        margin-left: 60rem;
        margin-top: 200px;
    }
    .first-part{
        width: 100%;
        background: linear-gradient(to bottom, #161e2b 0%,  rgb(32, 45, 88) 90%, #fff 100%);    
        color: #fff;
        font-family: 'Gothan';
        height: 650px;
    }
    .detalhes{
        font-family: 'Nunito', sans-serif;
        font-family: 800;
        margin-right: 700px;
        padding: 0 100px 0;
        font-size: 1.2rem;
        margin-top: -50px;
       }

       .profile-picture{
        align-self: flex-end;
        padding: 0 10%;
        width: 20%;
        min-width: 250px;
        max-width: 350px;
        border-radius: 50%;  
        margin-top: 40px;
   }

  
    .imagens2{
        height: 3rem;
        width: 3rem;
    }
    .hard-skills{
        justify-content: center;
        align-items: center;
    }
    .hard-skills h1{
     color: #227adf;
    font-size: 2.4rem;
     }
     #js{
        border-radius: 20%;
     }

     .projetos{
        margin-top: 150px;
     }
     .container-projetos{
        
        width: 100%;
       }
       .projeto-um{
        width: 90%;
        min-width: 300px;
        max-width: 600px;
       }
       .projeto-dois{
        width: 50%;
        max-width: 250px;
        filter: drop-shadow(5px 6px 12px rgba(0, 0, 0, 0.308));
       }
       .container-projetos p{
       color: #161e2b;
       font-family: 'Nunito', sans-serif;
       font-weight: 500;
       text-align: justify;
       text-align-last: center;
        text-justify: inter-word;
       padding: 0 20rem;
       margin-bottom: 30px;
       }
       .container-projetos h2{
        margin-top: 80px;
        color: black;
       }
       .projetos-link{
        padding: 10px 20px;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;
        background-color: black;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.432);
        border-radius: 5px;
        color: #f8f8f8;
        cursor: pointer;
        text-decoration: none;
       }
       .about-me p{
        padding: 0 10rem 0;
       }
    
       .imagens-footer{
        position: absolute;
        margin-top: 40px;
        padding-left: 1rem;
        right: 200px;
       }
       .madeyby{
        margin-left: 200px;
       }
}

